.DayCard {
  color: #fff;
  height: 180px;
  width: 100px;
  padding: 10px;
  padding-right: 0px;
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
  margin-left: 20px;
  margin-right: 20px;
  border-bottom: 2px solid transparent;
  
  &:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }

  &__weatherIcon {
    width: 60px;
  }

  &__day {
    font-family: Roboto-Bold, sans-serif;
    font-size: 16px;
    color: #FFFFFF;
  }

  &__weather {
    font-family: Roboto-Thin, sans-serif;
    font-size: 15px;
    color: #FFFFFF;
    white-space: nowrap;
  }

  &__temperature {

  }

  &__nightTemperature {
    font-family: Roboto-Thin, sans-serif;
    font-size: 16px;
    color: #fff;
    vertical-align: 18px;
    margin-left: 5px;
  }

  &__dayTemperature {
    font-family: Roboto-Thin, sans-serif;
    font-size: 40px;
    color: #FFFFFF;
    position: absolute;
    left: 7px;
  }

  &__dayTemperature_minus {
    &:before {
      content: '-';
      position: absolute;
      left: -12px;
    }
  }

  &_selected {
    border-bottom: 2px solid white;
  }
}