.LocationSelect {
  position: relative;
  display: inline-block;
  height: 71px;
  //margin-bottom: 20px;

  &__input {
    background: rgba(255, 255, 255, 0.1);
    border: none;
    //border-bottom: 1px solid white;
    font-family: 'Roboto-Thin', sans-serif;
    font-size: 50px;
    color: #FFFFFF;
    //text-align: center;
    box-shadow: 0px 3px 5px 4px rgb(225, 114, 4);
    width: 680px;
    padding-left: 20px;
  }

  &__autocomplete {
    z-index: 1;
    text-align: left;
    position: absolute;
    //background-color: #fff;
    width: 100%;
    font-family: 'Roboto-Thin', sans-serif;
    font-size: 50px;
    padding-bottom: 20px;
    background-color: rgb(237, 144, 50);
    //box-shadow: 0px 3px 5px 4px rgb(225, 114, 4);
    box-shadow: 0px 6px 4px 0px #e17204;
    color: #fff;
    opacity: 0.9;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
  }

  &__autocompleteItem {
    padding: 0 20px;
    &:hover {
      background-color: #F6A552;
      cursor: pointer;
    }
  }

  &__placeButton {
    border: none;
    background: none;
    font-family: 'Roboto-Thin', sans-serif;
    font-size: 50px;
    color: #FFFFFF;
    text-align: center;
    cursor: pointer;
  }

  &__chevron {
    width: 30px;
    vertical-align: middle;
    margin-left: 10px;
  }
}